.cellTableWidget {
	border-collapse: collapse;
	border: 1px solid #acacac;
}

.cellTableHeader {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 3px;
	white-space: nowrap;
	text-align: left;
}

.cellTableSortableHeader {
	cursor: pointer;
	cursor: hand;
}

.cellTableCell {
	border-top: 1px solid #acacac;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 6px;
	overflow: hidden;
}

.cellTableFirstColumnFooter {
	
}

.cellTableFirstColumnHeader {
	
}

.cellTableEvenRow {
	
}

.cellTableOddRow {
	
}

.cellTableEvenRowCell {
	background-color: #ffffff;
}

.cellTableOddRowCell {
	background-color: #ffffff;
}

.cellTableSortableHeader:hover {
}

.cellTableHoveredRow {
	
}

.cellTableKeyboardSelectedRow {
	
}

.cellTableSelectedRow {
}

.cellTableSelectedRowCell {
	background-color: #ffffcc;
}

.cellTableKeyboardSelectedCell {
	
}

.cellTableLoading {
	margin: 30px;
}

.cellTableFooter {
	border-top: 1px solid #acacac;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 6px;
	overflow: hidden;
}

.cellTableSortedHeaderDescending {
	
}

.cellTableSortedHeaderAscending {
	
}

.cellTableKeyboardSelectedRowCell {
	
}

.cellTableLastColumn {
	
}

.cellTableFirstColumn {
	
}

.cellTableHoveredRowCell {
	
}

.cellTableLastColumnFooter {
	
}

.cellTableLastColumnHeader {
	
}