<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

<http pattern="/*" security="none" />
<http pattern="/baconbits/*" security="none" />
<http pattern="/baconbits/images/**" security="none" />
<http pattern="/baconbits/gwt/**" security="none" />
<http pattern="/baconbits/service/login" security="none" />
<http pattern="/baconbits/service/notAuthenticated" security="none" />

<http>
	<form-login login-page="/baconbits/service/notAuthenticated" />
	<!-- <intercept-url pattern="/baconbits/service/billing**" access="ROLE_DSCI_DASH_USERS,ROLE_PORTAL_BILLING" /> -->
	<!-- <intercept-url pattern="/ribeye/service/article**" access="ROLE_BASIC_USER" /> -->
	<!-- <intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" /> -->
	<intercept-url pattern="/**" />
</http>

<authentication-manager alias="authenticationManager">
	<authentication-provider user-service-ref="customUserDetailsService">
    	<password-encoder ref="passwordEncoder">
    		<salt-source ref="saltSource" />
    	</password-encoder>
	</authentication-provider>
</authentication-manager>

<beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
	<beans:constructor-arg value="512" />
</beans:bean>

<beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
	<beans:property name="userPropertyToUse" value="username"/>
</beans:bean>

<beans:bean id="customUserDetailsService" class="com.areahomeschoolers.baconbits.server.spring.CustomUserDetailsService">
	<beans:property name="dataSource" ref="dataSource" />
</beans:bean>

</beans:beans>
